@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700;400&display=swap');

/* add fonts from fonts*/
@font-face {
    font-family: 'Lora';
    src: url(/fonts/Lora-Bold.woff2) format('woff2'),
        url(/fonts/Lora-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins-Regular.woff) format('woff'),
        url(/fonts/Poppins-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(/fonts/OpenSans-Regular.woff) format('woff'),
        url(/fonts/OpenSans-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* Указываем box sizing */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}



/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}


html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    color: #000;
    background: #F5F5F5;
}

.wrapper {
    overflow-x: hidden;
}

/* изменяем курсов */
* {
    cursor: url(/img/mouse.svg), auto;
    cursor: pointer unset;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
    /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
}

.main {
    flex: 1 1 auto;
}

.d-none {
    display: none;
}

.active {}

.active_img {
    display: block;
}

/* container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.intro {
    width: 100%;
    height: 100vh;
    /* 100% от высоты экрана */
    background: url(../img/intro/бассейн.jpg) no-repeat;
    /* фоновое изображение по центру и без повторений */
    -webkit-background-size: cover;
    /* фон занимает всю ширину и высоту блока */
    background-size: cover;
    /* фон занимает всю ширину и высоту блока */
}

/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 15px;
}

.header--scroll {
    background: rgba(55, 53, 61, 0.7);
    transition: rgba(55, 53, 61, 0.7) 0.3s ease;
    height: 60px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background: url(/img/intro/logo_.svg) no-repeat;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.header__nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
}

.header__nav a {
    display: inline-block;
    margin: 0 25px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

    transition: color 0.3s linear;

    position: relative;
    z-index: 2;
}

.header__nav a:hover {
    color: rgba(255, 255, 255, 1);
}

.header__nav a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: #fff;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: all 0.3s ease-out;

}

.header__nav a:hover::after {
    opacity: 1;
}

/* nav-toggle */
.nav-toggle {
    display: none;
    width: 40px;
    padding: 15px 0;
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 1;

    font-size: 0;
    color: transparent;
    cursor: pointer;
    background: none;
    border: 0;

    transition: all 0.3s ease-out;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

}

.nav-toggle__item::before {
    top: -0px;
}

.nav-toggle__item::after {
    bottom: -0px;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(2px);

}

.nav-toggle.active .nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(1px);
}

/* intro */
.intro {
    display: flex;
    justify-content: center;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: #fff;
}

.intro__suptitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 130px;
}

.intro__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 72px;
    font-weight: 700;
    line-height: 79px;
    margin-top: 40px;
    margin-bottom: 20px;

}

.intro__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.intro__contacts {
    max-width: 35%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
}

.intro__contacts a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    border: #fff 1px solid;
    border-radius: 5px;
    padding: 10px 40px;

    transition: color 0.3s linear;
}

.intro__contacts a:hover {
    color: rgba(55, 174, 226, 1);
    border: rgba(55, 174, 226, 1) 1px solid;
    text-decoration: none;
}

/* view */
.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(55, 53, 61, 1);
}

.view__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.view__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.view_galery {
    display: flex;
    flex-direction: column;
}

.view__galery-images {
    display: none;
}

.view__galery-inner {
    display: flex;
    flex-direction: row;
}

.view__header-inner {
    padding: 50px 0;
    background: rgba(55, 53, 61, 1);
}

.view__nav a {
    color: rgba(153, 156, 169, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    transition: color 0.3s linear;
    border: 1px solid rgba(153, 156, 169, 0);
    border-radius: 2px;
    padding: 5px;
}

.view__nav a:hover {
    border: 1px solid rgba(153, 156, 169, 1);
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
}


.view__nav a.active {
    border: 1px solid rgba(153, 156, 169, 1);
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
}

.view__galery-images {
    display: flex;

    transition: all 0.3s ease-out;
}

.view__galery-inner {
    display: flex;
}

.view__galery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 25%;
}

.view__galery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile {
    display: none;
}

/* staticstics */
.staticstics {
    background-color: rgba(55, 53, 61, 1);
}

.stat {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
}

.stat__item {
    text-align: center;
    text-transform: capitalize;
    max-width: 25%;
    text-align: center;
}

.stat__count {
    font-family: 'Lora';
    font-style: normal;
    font-size: 85px;
    font-weight: 700;
    line-height: 36px;
    color: #fff;

}

.stat__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    padding-top: 50px;
    min-width: 25%;
}

/* about */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.about__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
}

.left {
    width: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
}

.right {
    width: 50%;
    align-self: end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.about__video-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding-top: 20px;
    opacity: 0.5;
}


#poster {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;

}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.centered img {
    width: 50px;
    height: 50px;
}


.pop_up {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.pop_up__content {
    background-color: rgba(0, 0, 0, 0.0);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.pop_up__close {
    color: red !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.about__title {
    color: #37353D;
}

.about__content {
    display: flex;
    flex-direction: row nowrap;
}

.about__item {
    width: 50%;
    padding-right: 20px;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    cursor: pointer;
    padding: 15px 0;
    position: relative;
}


.accordion__title {
    position: absolute;
    left: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: rgba(55, 53, 61, 1);
    text-transform: capitalize;
}

.accordion__content {
    display: none;
    align-self: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    align-items: center;
    line-height: 20px;
    color: rgba(55, 53, 61, 1);
    padding: 20px 0;
    border-bottom: 1px solid rgba(55, 53, 61, 0.1);

}

.accordion__item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(55, 53, 61, 0.1);
}


/* presentation */

.presentation {
    background: url(/img/presentation.jpg) no-repeat center center;
    background-size: cover;
}

.presentation__content {
    display: flex;
    flex-direction: column;
}

.presentation__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    margin-top: 45px;
}

.contacts {
    margin-bottom: 35px;
}

/* reviews */
.mySwiper {
    margin-top: 90px;
    margin-bottom: 90px;
}

.reviews__title {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #37353D;
    text-align: center;
}

.reviews__person {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-style: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 15px;
}

.reviews__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-style: 12px;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 55px;
    color: #4E4A59;
}

/* footer */
.footer__top {
    padding: 40px 0;
    background-color: rgba(55, 53, 61, 1);
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.footer__logo {
    top: 100px;
    transform: translateY(-100px);
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.footer__info-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer__info-sub-title {
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__socials-item {
    width: 30px;
    height: 30px;
    margin: 30px;
}

.telegram::before {
    content: url(/img/footer/social/telegram.svg);
}

.instagram::before {
    content: url(/img/footer/social/instagram.svg);
}

.whatsapp::before {
    content: url(/img/footer/social/whatsapp.svg);
}

.youtube::before {
    content: url(/img/footer/social/youtube.svg);
}

.footer {
    background-color: #302E35;
    height: 50px;
}

.footer__rights-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    color: #999ca9;

    margin: 15px 0;
}

.panel-group .panel .panel-heading:after {
    display: none;
}

.panel-group .panel .panel-heading:after {
    content: '';
    background: url(/img/accordion_btn.svg) no-repeat;
}


#gallery {
    background-color: rgba(55, 53, 61, 1);
}

.desktop_{
    display: flex;
}
#desktop_living{
    display: flex;
}
#desktop_kitchen{
    display: flex;
}
#desktop_bed{
    display: flex;
}
#desktop_bath{
    display: flex;
}
#desktop_pool{
    display: flex;
}
#desktop_infrastructure{
    display: flex;
}
#mobile_living{
    display: none;
}
#mobile_kitchen{
    display: none;
}
#mobile_bed{
    display: none;
}
#mobile_bath{
    display: none;
}
#mobile_pool{
    display: none;
}
#mobile_infrastructure{
    display: none;
}
/* ------------------------------------ media ---------------------------------------------- */
@media(max-width:1440px){
    .intro__contacts {
        width: 35%;
    }
}

@media(max-width: 1230px) {
    .intro__title {
        font-size: 60px;
        line-height: 70px;
    }

    .intro__subtitle {
        font-size: 20px;
    }

    .intro__contacts {
        width: 35%;
    }

    .intro__contacts a {
        padding: 15px 35px;
    }

    .stat__item {
        min-width: 230px;
    }

    .stat__count {
        font-size: 75px;
        line-height: 30px;
    }

}

@media(max-width: 970px) {
    .intro__title {
        font-size: 50px;
        line-height: 60px;
    }

    .intro__subtitle {
        font-size: 18px;
    }

    .intro__contacts a {
        padding: 15px 30px;
    }

    .stat__item {
        min-width: 200px;
    }

    .stat__count {
        font-size: 60px;
        line-height: 30px;
    }

    .intro__contacts a {
        padding: 15px 25px;
    }

}

@media(max-width: 1024px) {
    .intro__title {
        font-size: 50px;
        line-height: 60px;
    }

    .intro__subtitle {
        font-size: 18px;
    }

    .intro__contacts a {
        padding: 15px 30px;
    }

    .stat__item {
        min-width: 200px;
    }

    .stat__count {
        font-size: 60px;
        line-height: 30px;
    }

    .intro__contacts a {
        padding: 15px 25px;
    }

}

@media (max-width: 768px) {
    .header .container {
        max-width: 768px;
        padding: 0;
    }

    .header__logo::before {
        margin: 0px 15px;
    }

    .header__nav {
        display: none;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: rgba(55, 53, 61, 0.7);
    }

    .header__nav.active {
        display: block;
    }
    .intro__contacts {
        max-width: 33%;
    }


    .header__nav a {
        display: block;
        margin: 0;
        padding: 5px 20px;
    }


    .header__logo::before {
        height: 25px;
        align-self: center;
    }

    .nav-toggle {
        display: block;
    }

    .intro__title {
        font-size: 40px;
        line-height: 50px;
    }

    .intro__subtitle {
        font-size: 16px;
    }

    .intro__contacts a {
        padding: 10px 10px;
        font-size: 20px;
    }

    .stat__item {
        min-width: 24%;
    }

    .stat__count {
        font-size: 80px;
        line-height: 20px;
    }

    .stat__title {
        font-size: 27px;
    }

    .stat__text {
        font-size: 20px;
    }

    .presentation__title {
        font-size: 12px;
        line-height: 12px;
    }

    .presentation__subtitle {
        font-size: 10px;
    }

    .presentation__contacts a {
        padding: 15px 25px;
    }

    .reviews__title {
        font-size: 20px;
        line-height: 25px;
    }

    .reviews__person {
        font-size: 16px;
        line-height: 20px;
    }

    .reviews__text {
        font-size: 10px;
        line-height: 12px;
    }

    .footer__info-title {
        font-size: 24px;
        line-height: 27px;
    }

    .footer__info-sub-title {
        font-size: 12px;
        line-height: 20px;
    }

    .footer__rights-text {
        font-size: 10px;
        line-height: 20px;
    }

    .footer__socials-item {
        width: 25px;
        height: 25px;
        margin: 25px;
    }

    .footer__logo {
        width: 100px;
        height: 100px;
    }

    .footer__top {
        padding: 30px 0;
    }

    .footer__content {
        padding: 0 20px;
    }

    .footer__header {
        padding-bottom: 30px;
    }

    .footer__info {
        padding-bottom: 30px;
    }

    .footer {
        height: 40px;
    }

    .footer__rights-text {
        margin: 10px 0;
    }

    .accordion__title {
        font-size: 12px;
        line-height: 12px;
    }

}

@media(max-width: 660px) {

    #desktop_living{    
        display: none;
    }
    #desktop_bed{    
        display: none;
    }
    #desktop_bath{    
        display: none;
    }
    #desktop_kitchen{    
        display: none;
    }
    #desktop_pool{    
        display: none;
    }
    #desktop_infrastructure{   
        display: none;
    }
    #mobile_living{    
        display: block;
    }
    #mobile_bed{    
        display: block;
    }
    #mobile_bath{    
        display: block;
    }
    #mobile_kitchen{    
        display: block;
    }
    #mobile_pool{    
        display: block;
    }
    #mobile_infrastructure{    
        display: block;
    }
    
    .intro__title {
        font-size: 40px;
        line-height: 50px;
    }

    .intro__subtitle {
        font-size: 16px;
    }


    .intro__contacts {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: flex-start;
        margin: 10px;
    }
    

    .intro__contacts a {
        margin: 10px;
        font-size: 20px;
    }

    .view__nav {
        display: flex;
        flex-direction: column;
    }

    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stat__item {
        min-width: 100%;
        margin: 25px;
        text-align: center;
        align-items: center;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__item {
        margin: 10px;
        width: 100%;
    }

    .right {
        display: none;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .view__galery-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .view__galery-item {
        width: 100%;
        min-height: 100%;
    }

    .view__galery-item img {
        width: 100%;
        min-height: 360px;
    }

    .footer__socials-item {
        width: 25px;
        height: 25px;
        margin: 14px;
    }


}

@media(max-width: 320px) {
    .intro__contacts a {
        font-size: 16px;
    }

    .intro__contacts.contacts {
        align-items: center;
    }

    .view__galery-item img {
        width: 100%;
        min-height: 220px;
    }

    .view__galery-images {
        top: 20px;
        transform: translateY(-20px);
    }
}